<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
</head>
<body>
    <nav>
        <a href="{{url_for('dashboard')}}">Homes</a>
        <a href="{{url_for('adding_expense')}}">All Expenses</a>
        <a href="{{url_for('logout')}}">Logout</a>   
        <a href="{{url_for('profile')}}">Profile</a>
    </nav>
    <h1>Welcome, {{ message }}</h1>
    <p>Total Expense for this month: ${{ total_expense }}</p>

</body>
</html>